h1 {
    color: #4E5779;
    font-size: 35px;
    font-weight: 900;
    font-family: 'Grandstander', cursive, sans-serif;
}

h2 {
    color: #4E5779;
    font-size: 25px;
    font-weight: lighter;
    font-weight: 500;
}

body {
    /* background-image: url("https://images.assetsdelivery.com/compings_v2/losw/losw1902/losw190200155.jpg");*/
    background-image: url("https://hdqwalls.com/wallpapers/purple-octopus-art-4k.jpg");
    color: #575F7D;
    font-family: 'Grandstander', cursive, sans-serif;
    font-size: 15px;
    font-weight: lighter;
}

a {
    text-decoration: none;
    color: #6B72E1;
    font-weight: 400;
    font-size: 16px;
}

.container {
    width: 700px;
    margin: 40px auto;
}

#introduction p {
    margin-bottom: 40px;
}

.card-white {
    background-color: white;
    padding: 35px;
    box-shadow: 14px 15px 5px -1px rgba(0,0,0,0.49);;
    border-radius: 8px;
    margin: 20px 0px;
    text-align: center;
}

.img-circle {
    border-radius: 50%;
}

.btn-purple {
    background-color: #6B72E1;
    color: white;
    padding: 10px 14px;
    border-radius: 12px;
}

.btn-purple:hover {
    background-color: #da4879cc;
}

.list-inline {
    list-style: none;
    padding-left: 0px;
}

.list-inline li {
    display: inline;
    padding: 10px;
}

.list-inline i {
    font-size: 30px;
}

.list-inline i:hover {
    color: #da4879cc;
}

@media (max-width: 540px) {
    .container {
      width: 300px;
    }
  }
  
  @media (max-width: 720px) {
    .container {
      width: 500px;
    }
  }

  @media (max-width: 960px) {
    .container {
      width: 625px;
    }
  }
